name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, windows/386, windows/amd64, darwin/386, darwin/amd64 
        goos: [linux, windows, darwin]
        goarch: [amd64]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Build
      run: mkdir -p ./output-${{ matrix.goos }}-${{ matrix.goarch }} && env GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o ./output-${{ matrix.goos }}-${{ matrix.goarch }}
    
    - name: 'Tar files'
      run: tar -cvf ${{ matrix.goos }}-${{ matrix.goarch }}.tar ./output-${{ matrix.goos }}-${{ matrix.goarch }}

    - uses: actions/upload-artifact@v2
      with:
        name: test-artifact
        path: ${{ matrix.goos }}-${{ matrix.goarch }}.tar