name: Release MeowTube

on: 
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, windows/386, windows/amd64, darwin/386, darwin/amd64 
        goos: [linux, windows, darwin]
        goarch: [amd64]
    steps:
    - uses: actions/checkout@v2
    - name: Set APP_VERSION env
      run: echo APP_VERSION=$(basename ${GITHUB_REF}) >> ${GITHUB_ENV}
    - uses: wangyoucao577/go-release-action@v1.14
      with:
        ldflags: "-X main.Version=${{ env.APP_VERSION }}"
        github_token: ${{ secrets.GITHUB_TOKEN  }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: "https://dl.google.com/go/go1.15.7.linux-amd64.tar.gz"
        binary_name: "meowtube"
        extra_files: LICENSE README.md